.dbus/
.thunderbird/
.ssh/
Downloads/
Curso HTML 5
GII
Others/
UBUNTU

.config/amsynth/
.config/redyt
.config/rncbc.org/
.config/QtProject.conf
.config/calibre/
.config/xarchiver
.config/htop/
.config/libreoffice/
.config/mpv/watch_later/
.config/shell/shortcutrc
.config/shell/zshnameddirrc
.config/systemd/
.config/torbrowser/
.config/transmission/
.config/zsh/.zcompdump-arch-5.9
.config/zsh/oh-my-zsh/
.config/dconf/
.config/kcharselectrc
.config/neofetch/
.config/nvim/autoload/
.config/nvim/plugged/
.config/pulse/
.config/x11/Xauthority
.config/x11/xresources
.config/syncthing/
.config/zathura/zathurarc
.config/dunst/dunstrc
.config/lf/shortcutrc

.local/src/
.local/state/
.local/share/bg
.local/share/jflex-1.8.2/
.local/share/netbeans/
.local/share/gnupg
.local/share/newsboat
.local/share/applications/mimeinfo.cache
.local/share/com.github.johnfactotum.Foliate/
.local/share/lf/
.local/share/mpd/
.local/share/nvim/
.local/share/recently-used.xbel
.local/share/shell/
.local/share/task/
.local/share/taskwarrior-tui/
.local/share/torbrowser/
.local/share/wallpapers-file
.local/share/webkitgtk/
.local/share/xorg/
.local/share/zathura/
.local/share/syncthing/

.cache/
