.cache/
.config/dconf/
.config/git/git-credentials
.config/kcharselectrc
.config/neofetch/
.config/nvim/autoload/
.config/nvim/plugged/
.config/pulse/
.config/x11/Xauthority
.config/x11/xresources
.dbus/
.local/share/
.local/src/
.mozilla/
Downloads/
TODO
dwm
new/
xyz/
